{% extends "base.html" %}

{% block content %}
<div>New Post:
	<form method="POST" url = "/post">
		<input type="radio" id="arts" name="topic" value="Arts">
  		<label for="Arts">Arts</label>
  		<input type="radio" id="sport" name="topic" value="Sport">
  		<label for="Sport">Sport</label>
  		<input type="radio" id="science" name="topic" value="Science">
  		<label for="Science">Science</label>
  		<input type="radio" id="politics" name="topic" value="Politics">
  		<label for="Politics">Politics</label>
  		<input type="radio" id="religion" name="topic" value="Religion">
  		<label for="Religion">Religion</label>
  		<input type="radio" id="music" name="topic" value="Music">
  		<label for="Music">Music</label>
  		<input type="radio" id="entertainment" name="topic" value="Entertainment">
  		<label for="Entertainment">Entertainment</label><br>
		<br><input type="text" name="title" placeholder = "Title"><br>
		<br><label name="picture">Image:</label>
 		<br><input type=file name="picture"><br>
      	<br><input type="text" name = "content" placeholder = "Content"><br>
		<br><input type="submit" value="New Post" class="button">
	</form>
{% endblock %}
