{% extends "base.html" %}
{% block content %}

{% if topic%}
	<p> no topics</p>
{% endif %}

</head>
  <body>
    <header>
	<div class="table-responsive">
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Topic</th>
	        <th>Author</th>
	      </tr>
	    </thead>
	    <tbody>
	        {% for topic in topics %}
		        <tr>
				    <td><a href = "/topic/?topic={{topic.title}}"> {{topic.title}} </a></td>
				    <td>{{topic.author}}</td>
						<td>{{topic.timestamp}}</td>
				</tr>
			{% endfor %}
	    </tbody>
	  </table>
	</div>
    </header>
    	<ul class="pager">
		<li><a href="#">Previous</a></li>
  		<li><a href="#">Next</a></li>
		</ul>
 </body>
 {% endblock %}
</html>
