{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
<p>Oh no Dont show page</p>
{% else %}
	<a class="btn btn-default" role="button" href="/topic/new_post/?topic={{topic}}">Create post</a>

	<div class="table-responsive">
	  <table class="table">
	    <thead>
	      <tr>
	      	<th>#</th>
	        <th>Title</th>
	        <th>Author</th>
	      </tr>
	    </thead>
	    <tbody>
	        {% for post in posts %}
		        <tr>
		        	<td>{{post.id}}</td>
				    <td><a href = "/post/?post_title={{post.title}}"> {{post.title}} </a></td>
				    <td>{{post.author}}</td>
				</tr>
			{% endfor %}
	    </tbody>
	  </table>
	</div>

{% endif %}
{% endblock %}
